.affiche{
    flex-shrink: 0;
    width: 340px;
    height: 482px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
}

.doubleImage{
    height: 580px;
    position: relative;
    overflow: hidden;

}

.double-images-container {
    display: flex;
    flex-direction: row;
    gap: 430px;
    justify-content: center;
    align-items: center;
}


.map-section {
    background: #ffffff;
    padding: 50px 155px 50px 155px;
    display: flex;
    flex-direction: row;
    gap: 125px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.map {
    width: 465px;
    height: 548px;
}

.map-text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 445px;
    position: relative;
}

.map-headline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.map-header-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.map-title {
    color: #121212;
    text-align: left;
    font: var(--h-2-3640, 700 36px/40px "Barlow", sans-serif);
    text-transform: uppercase;
    position: relative;
    align-self: stretch;
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 354px;
    position: relative;
}

.step {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.step-check {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.step-text {
    color: #121212;
    text-align: left;
    font: var(--h-5-1620, 700 16px/20px "Barlow", sans-serif);
    text-transform: uppercase;
    position: relative;
    flex: 1;
}

.line {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 40vw; /* utilisez 100% de la largeur de la fenêtre de visualisation */
    position: absolute;
    left: 30vw; /* commence à la gauche de la fenêtre de visualisation */
    top: 0; /* positionne la ligne au milieu de la hauteur de la fenêtre de visualisation */
}


.icon-features.event {
    background-color: #ffffff;
}


.team {
    background: linear-gradient(
            180deg,
            rgba(242, 242, 242, 1) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.team-title {
    color: #000000;
    text-align: center;
    font: var(--h-1-6475, 700 64px/75px "Barlow", sans-serif);
    text-transform: uppercase;
    position: relative;
}

.members {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.member {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.member-role {
    color: #00000080;
    text-align: center;
    font: var(--h-3-2430, 700 24px/30px "Barlow", sans-serif);
    text-transform: uppercase;
    position: relative;
}

.member-name {
    color: #000000;
    text-align: center;
    font: var(--h-2-3640, 700 36px/40px "Barlow", sans-serif);
    text-transform: uppercase;
    position: relative;
}


.food-members {
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

@media screen and (max-width: 1344px) {

    .map-section{
        padding: 100px 10px 100px 10px;
        margin: auto;
    }
    .map-text {
        align-items: center;
        justify-content: center;
    }

    .map-headline {
        align-items: center;
        justify-content: center;
    }

    .map-title {
        text-align: center;
    }



}

@media screen and (max-width: 1270px) {
    .food-members {
        flex-direction: column;
    }
}


@media screen and (max-width: 1200px) {
    .double-images-container {
        gap: 50px;
    }
}

@media screen and (max-width: 760px) {
    .double-images-container {
        flex-direction: column;
        gap: 50px;
    }

    .doubleImage {
        height: fit-content;
    }
}




@media screen and (max-width: 580px) {

    .H1-preset.event .headline{
        font: var(--h-1-6475, 700 40px/50px "Barlow", sans-serif);
    }

    .H1-preset.event .overline{
        font: var(--h-5-1620, 700 16px/20px "Barlow", sans-serif);
    }

    .H1-preset.event .paragraph{
        font: var(--lead-paragraph-2430, 400 24px/30px "Barlow", sans-serif);
    }



}
@media screen and (max-width: 580px) {

    .team-title{
        font: var(--h-1-6475, 700 40px/75px "Barlow", sans-serif);
    }

    .member-name{
        font: var(--h-2-3640, 700 30px/40px "Barlow", sans-serif);
    }

    .member-role{
        font: var(--h-3-2430, 700 20px/30px "Barlow", sans-serif);
    }

    .members{
        gap: 50px;
    }
}


@media screen and (max-width: 480px) {

    .map{
        width: 90%;
    }

    .member-role {
        font: var(--h-3-2430, 700 16px/30px "Barlow", sans-serif);
    }

    .member-name {
        font: var(--h-2-3640, 700 24px/40px "Barlow", sans-serif);
    }

    .members {
        gap: 30px;
    }
    .member {
        gap: 5px;
    }

    .H1-preset.event .paragraph{
        font: var(--lead-paragraph-2430, 400 20px/28px "Barlow", sans-serif);
    }
}


@media screen and (max-width: 400px) {
    .map-title{
        font: var(--h-2-3640, 700 30px/40px "Barlow", sans-serif);
        text-align: center;
    }

    .step-text{
        font: var(--h-5-1620, 700 14px/20px "Barlow", sans-serif);
    }

    .map-headline{
        align-items: center;
        justify-content: center;
    }

    .map-header-group{
        align-items: center;
        justify-content: center;
    }

    .map-text{
        align-items: center;
        justify-content: center;
        width : 90%;
    }

    .steps{
        width: 90%;
    }

}



