.footer {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    overflow: hidden;
}

.footer-logo {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-left: 20px;
}

.footer-logo-img {
    width: 30px;
    height: 40px;
}

.footer-logo-text {
    color: #121212;
    text-align: left;
    font: var(--h-418-20, 700 18px/20px "Barlow", sans-serif);
    text-transform: uppercase;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding-right: 20px;
}

.instagram, .facebook {
    overflow: visible;
}

@media screen and (max-width: 400px) {
    .footer-logo-text {
        font: var(--h-418-20, 700 16px/20px "Barlow", sans-serif);
    }
}